@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

:root {
  /*Color text*/
  --text-terciary: #00baf2;
  --text-primary: #fff;
  --text-secondary: #000;
  /*Color BG*/
  --bg-secondary: #95989a;
  --bg-tertiary: #5d5d5d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-color: var(--text-terciary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.navbar-brand:hover {
  color: var(--text-cinza);
  transition: all 0.6s ease-in-out;
}

.navbar-brand span {
  font-size: 2.5rem;
  letter-spacing: 1.1px;
  margin-left: 2%;
  font-family: "century gothic";
}

span2 {
  font-weight: 900;
  font-size: 2.5rem;
}

.navbar .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  background-color: #5d5d5d;
}

.navbar-nav {
  margin-left: 60%;
  width: 400px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: "century gothic";
}

nav ul a {
  text-decoration: none;
  color: var(--text-cinza);
  font-weight: 700;
}

nav ul a:hover {
  color: #fff;
  transition: all 0.6s ease-in-out;
}

main {
  width: 100vw;
  margin-left: 120px;
}

.banner {
  height: 550px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

#img-banner1 {
  background-image: url(../img/o-pequeno-principe-banner.jpg);
}

#img-banner2 {
  background-image: url(../img/pulp-fiction-banner.jpg);
}

#img-banner3 {
  background-image: url(../img/a-procura-da-felicidade-banner.jpg);
}

#img-banner4 {
  background-image: url(../img/stalker-banner.jpg);
}

#img-banner5 {
  background-image: url(../img/forrest-gump-banner.jpg);
}

#img-banner6 {
  background-image: url(../img/cisne-negro-banner.jpg);
}

.text {
  width: 100vw;
  margin-top: 10px;
  font-family: "century gothic";
}

.text h2 {
  height: 40px;
  font-family: "century gothic";
  font-weight: 900;
  color:#353535;
}

.text img {
  height: 50px;
  margin-bottom: 10px;
}

.credits {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.names {
  margin-top: 20px;
}

.credits h4 {
  height: 30px;
  color: #5d5d5d;
  font-family: "century gothic";
}

.credits span{
  color: #0e8cb2;
}

.trailer h3 {
  margin: 50px 0 15px;
  color: #5d5d5d;
  font-family: "century gothic";
  font-weight: 700;
}

/*Footer*/
footer {
  background-color: #171717;
  color: white;
  margin-top: 130px;
}

footer .grupo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px 10px;
  font-family: "century gothic";
  font-size: 13px;
}

footer .parag-rodape p {
  text-align: center;
  font-size: 1em;
  margin-top: 20px;
  font-family: "century gothic";
}

/*<<<<<< RESPONSIVE MOBILE >>>>*/
@media (max-width: 445px) {
  main {
    margin: 0;
  }

  .banner {
    width: 100vw;
    height: 50vh;
  }

  .text {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
    text-align: justify;
  }

  .text > h2 {
    width: 400px;
    font-weight: bold;
  }

  .text > img {
    justify-content: center;
    width: 100px;
    height: 30px;
  }

  .credits {
    flex-direction: column;
    gap: 20px;
  }

  .names{
    width: 80vw;
  }

  .trailer > h3 {
    margin-left: 20px;
  }

  .trailer > iframe {
    width: 100%;
    height: 30vh;
    margin-bottom: 50px;
    padding: 10px;
  }

}
